.game {
    width: 600px;
    height: 200px;
    border-bottom: 2px solid rgb(0, 63, 58);
    margin:auto;
}
#fon {
    width: 600px;
    height: 200px;
    background-color: aquamarine;
    position: absolute;
}
#dino {
    width: 50px;
    height: 50px;
    background-image: url(img/dino.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}
#cactus {
    width: 30px;
    height: 40px;
    background-image: url(img/cactus1.png);
    background-size: 30px 50px;
    position: relative;
    top: 110px;
    left: 570;
    animation: cactusMov 2s infinite linear;
}
@keyframes cactusMov {
    0% {
        left: 570px;
    }
    100% {
        left: -20px;
    }
}

.jump {
    animation: jump 0.2s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }
    30% {
        top: 130px;
    }
    50% {
        top: 80px;
    }
    80% {
        top: 130px;
    }
    100% {
        top: 150px;
    }
}